<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletAgregar</servlet-name>
        <servlet-class>Controlador.servletAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>Controlador.servletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEliminar</servlet-name>
        <servlet-class>Controlador.servletEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSol</servlet-name>
        <servlet-class>Controlador.EliminarSol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEliminarSol</servlet-name>
        <servlet-class>Controlador.servletEliminarSol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoSol</servlet-name>
        <servlet-class>Controlador.ListadoSol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAgenda</servlet-name>
        <servlet-class>Controlador.servletAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAgregarSol</servlet-name>
        <servlet-class>Controlador.servletAgregarSol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletHipotecario</servlet-name>
        <servlet-class>Controlador.servletHipotecario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCorreo</servlet-name>
        <servlet-class>Controlador.servletCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUS</servlet-name>
        <servlet-class>Controlador.ListaUS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaInforme</servlet-name>
        <servlet-class>Controlador.ListaInforme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletModificar</servlet-name>
        <servlet-class>Controlador.servletModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletActualizar</servlet-name>
        <servlet-class>Controlador.servletActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletActualizarSol</servlet-name>
        <servlet-class>Controlador.servletActualizarSol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAgregarAdm</servlet-name>
        <servlet-class>Controlador.servletAgregarAdm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletAgregar</servlet-name>
        <url-pattern>/servletAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEliminar</servlet-name>
        <url-pattern>/servletEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSol</servlet-name>
        <url-pattern>/EliminarSol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEliminarSol</servlet-name>
        <url-pattern>/servletEliminarSol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoSol</servlet-name>
        <url-pattern>/ListadoSol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAgenda</servlet-name>
        <url-pattern>/servletAgenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAgregarSol</servlet-name>
        <url-pattern>/servletAgregarSol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletHipotecario</servlet-name>
        <url-pattern>/servletHipotecario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCorreo</servlet-name>
        <url-pattern>/servletCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUS</servlet-name>
        <url-pattern>/ListaUS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaInforme</servlet-name>
        <url-pattern>/ListaInforme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletModificar</servlet-name>
        <url-pattern>/servletModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletActualizar</servlet-name>
        <url-pattern>/servletActualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletActualizarSol</servlet-name>
        <url-pattern>/servletActualizarSol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAgregarAdm</servlet-name>
        <url-pattern>/servletAgregarAdm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
