<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletAgregar</servlet-name>
        <servlet-class>Controlador.servletAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAgregarSol</servlet-name>
        <servlet-class>Controlador.servletAgregarSol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>Controlador.servletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEliminar</servlet-name>
        <servlet-class>Controlador.servletEliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletAgregar</servlet-name>
        <url-pattern>/servletAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAgregarSol</servlet-name>
        <url-pattern>/servletAgregarSol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEliminar</servlet-name>
        <url-pattern>/servletEliminar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
